In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('1.xlsx')

In [3]:
df.head()

                                                 url
0                 https://www.forwomeninscience.com/
1  https://www.forwomeninscience.com/authority/in...
2             https://www.forwomeninscience.com/map/
3  https://www.forwomeninscience.com/authority/fo...
4            https://www.forwomeninscience.com/login

In [13]:
word_num = []
words = 0
text=[]

In [5]:
for i in range(1,29293):
    file = open(r"C:\Users\Sherif\Desktop\Big_data\part1\url_{}.txt".format(i),'r',encoding="utf-8")
    my = file.read()
    text.append(my.strip())

In [7]:
df['texts'] = text

In [9]:
# Show 5 rows of data
df.head()

,url,texts
0,https://www.forwomeninscience.com/,For Women in Science International Awards Nati...
1,https://www.forwomeninscience.com/authority/in...,International Awards | For Women in Science In...
2,https://www.forwomeninscience.com/map/,National and regional programs | For Women in ...
3,https://www.forwomeninscience.com/authority/fo...,For Girls in Science | For Women in Science In...
4,https://www.forwomeninscience.com/login,For Women in Science International Awards Nati...

In [10]:
text[20]

"Open Open FI EN Our Pedagogy For educators Pre-K & Nurseries Primary Schools\nTeaching Remotely Pricing News About us Log in Looks like you're lost in\nSupraland! It looks like we can't find your content. Sorry, we'll sort it out.\nTry going back, or to a different page for now. decor decor Kide Science\ninfo@kidescience.com +358 44 019 0535Ruoholahdenkatu 8, 5th floor00180\nHelsinki, Finland facebook twitter linkedin YouTube Instagram WeChat Copyright\n© 2020Kide Science®Y: 2869507-8沪ICP备15005341号-5 Privacy policy"

In [11]:
# Number of char in text
len(text[1])

982

In [12]:
# Number of words in text
w = len(text[1].split())
w

150

In [31]:
df.texts.iloc[0]

'For Women in Science International Awards National and regional programs For\nGirls in Science Login The world needs Science, and Science needs Women\nInternational Awards Created in 1998, the International Awards L\'Oréal-UNESCO\nFor Women in Science honours - every year - 5 eminent women scientists from 5\nregions of the world. Alternating every other year, these exceptional\nresearchers are rewarded for their important contributions to the progress of\nscience, either in Life sciences or in the fields of Physical sciences,\nMathematics and Computer science. An award of €100,000 is given to each of the\nfive laureates selected by a jury of internationally renowned ex... Discover\nthe program and participate For Girls in Science The L\'Oréal Foundation is\nlaunching a new version of its For Girls in Science program designed to\nencourage high school girls, starting in the second year of high school, to\nchoose scientific careers. The For Girls in Science program offers selected\nhigh school girls the opportunity to join a support program throughout the\nschool year, which includes participation in a scientific challenge, a\nscientific trip and inspiring meetings, cultural outings and visits to\ncompanies. Individual academic... Discover the program and participate\nL\'Oréal-UNESCO For Women in Science Women scientists are leading ground-\nbreaking research across the world. But despite their remarkable discoveries,\nwomen still represent just 33,3 %* of researchers globally, and their work\nrarely gains the recognition it deserves. Less than 4 % of Nobel Prizes for\nscience have ever been awarded to women, and only 11 %* of senior research\nroles are held by women in Europe.As the world hurtles towards a future\nthreatened by climate change and resource scarcity, the global scientific\ncommunity must lose no time in recognising and promoting women scientists’\nachievements.The Fondation L’Oréal and UNESCO have worked together for more\nthan 20 years to help empower more women scientists to achieve scientific\nexcellence and participate equally in solving the great challenges facing\nhumanity.To date, we have awarded more than 100 laureates, five of whom have\ngone on to win Nobel Prizes. Working in the Physical sciences, Formal sciences\nand Life sciences on five different continents, these eminent women\nresearchers are helping to change the world through their discoveries, and are\nalso role models for younger generations of women researchers who want to\npursue their scientific careers and break the glass ceiling.Each year, the\nL\'Oréal-UNESCO For Women in Science programmes also support more than 250\ntalented young women researchers. Through its 52 regional and national\nprogrammes, the Fondation L\'Oréal and UNESCO support them at a crucial period\nin their careers, during their thesis or post-doctoral studies.However, we\nmust remember that there is still much more to be done to achieve true gender\nequality in science. But we remain determined, and we are moving steadily\ntowards making our vision a reality. One day, we will live in a world where\ngirls are encouraged to study science, where women have adequate support to\nbalance the responsibilities of research and motherhood, and where scientists\nare judged purely on the merit of their discoveries and the potential of their\nwork to change the world. *UNESCO Science Report: towards 2030 (2021) Key\nfigures 3900 More than 3900 Alumnae around the world 500 scientific experts\ninvolved in the selections worldwide 110 More than 110 countries covered by\nour programs 52 national and regional programs worldwide L\'Oréal-UNESCO For\nWomen In Science _ "Gender diversity leads to new and better quality science."\nJEAN-PAUL AGON CHAIRMAN AND CHIEF EXECUTIVE OFFICER OF L\'ORÉAL, CHAIRMAN OF\nTHE FONDATION L\'ORÉAL "By advancing the cause of women, we can drive progress\nin science." AUDREY AZOULAY GENERAL DIRECTOR OF THE UNITED NATIONS\nEDUCATIONAL, SCIENTIFIC AND CULTURAL ORGANIZATION "The work of our Young\nTalents reflects the importance and vitality of scientific research."\nALEXANDRA PALT EXECUTIVE VICE PRESIDENT OF THE FONDATION L’ORÉAL FAQ CGU\nPolitique de confidentialité Cookies © 2022 Fondation l\'Oreal. All rights\nreserved. | Design by Yumana'

In [34]:
# Count number of words in text for each row in 
for i in range(0,29292):
    number = len(df.texts.iloc[i].split())
    word_num.append(number)

In [22]:
df.tail(1)

,url,texts
29291,https://blog.feedspot.com/magazines_directory/...,Human Verification JavaScript is disabled In o...

In [35]:
word_num[0]

650

In [36]:
word_num[-1]

35

In [38]:
# Add word_num to DataFrame and show last update
df['word_num']=word_num
df.head()

,url,texts,word_num
0,https://www.forwomeninscience.com/,For Women in Science International Awards Nati...,650
1,https://www.forwomeninscience.com/authority/in...,International Awards | For Women in Science In...,150
2,https://www.forwomeninscience.com/map/,National and regional programs | For Women in ...,169
3,https://www.forwomeninscience.com/authority/fo...,For Girls in Science | For Women in Science In...,200
4,https://www.forwomeninscience.com/login,For Women in Science International Awards Nati...,95

In [58]:
# Save data in Excel sheet 
df.to_excel('data.xlsx')

C:\Users\Sherif\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1136: UserWarning: Ignoring URL since it exceeds Excel's string limit of 32767 characters
  warn("Ignoring URL since it exceeds Excel's string limit of "